<% if(rows.length >= 10) {
    var maxd = 1 + parseInt(max_id); // страница
%>
<div id="loadRv" onclick="objRev.GetRev(<%=maxd%>)" class="btn btn-primary get-next">
    <div class="get-nextT">загрузить ещё</div>
    <div class="get-nextB" id="list_group_loader"></div>
</div>
<% } %>
<%
var res = '';
for (var i = rows.length-1; i >= 0; --i) {
//sys.puts("Result: "+sys.inspect(result.toHash(result.records[i])));


    var month = [" ", "Января", "Февраля", "Марта", "Апреля", "Мая", "Июня", "Июля", "Августа", "Сентября", "Октября", "Ноября", "Декабря"];

    var date_time = new Date(rows[i]['date_time']);
    month = month[date_time.getMonth()];


//Текущая дата
    var todayDate = new Date();
//Разница во времени
    var dateDifference = date_time.getTime() - todayDate.getTime();

//Дата, созданная из остатка времени
    var remainsDate = new Date(dateDifference);
    var remainsSec = (parseInt(remainsDate / 1000));

    var edit;
    if (parseInt(parseInt(remainsSec / 60)) > '-6000' && rows[i]['id_user'] == id_user) {
        edit = '<a href="javaScript:void(0)" onclick="objRev.EditRev(\'get\', ' + rows[i]["id"] + ');"><i class="right glyphicon glyphicon-pencil deil_wall"> </i></a>';
    } else {
        edit = '';
    }

    var del;
    if (rows[i]['id_user'] == id_user) {
        del = '<button type="button"  class="del-rev" onclick="objRev.DelRev(' + rows[i]["id"] + ', 0)" data-toggle="modal" data-target="#delete_form" tabindex="-1"  href="javaScript:void(0)"><i class="right glyphicon glyphicon-remove deil_wall"> </i></button>';
    } else {
        del = '';
    }

    var text;
    if(rows[i]['text'].length > 500)
    {
        text  = '<div class="Trvt">'+rows[i]['text'].substring(0,500)+ ' ..</div>';
        text += '<div class="Trvb" style="display: none">'+rows[i]['text'] + '</div>';
        text += '<div class="shRv" onclick="objRev.ShRev(1)">показать полностью..</div>';
    } else {
        text = rows[i]['text'];
    }
%>
<li class="list-group-item liRv" id="revIdIt-<%= rows[i]['id'] %>">
    <div class="" id="revId-<%= rows[i]['id'] %>">
        <% if(rows[i]['belongs'] == 'to') { %>
        <div >
            <a class="media-left left" href="http://nopl.ru/id<%= rows[i]['id_user'] %>">
                <div style="width: 64px; height: 64px; background: #c5c5c6">
                    <img src="http://nopl.ru/images/profile/id<%= rows[i]['id_user'] %>/crop/<%= rows[i]['img'] %>"
                         style="width: 64px;height: 64px;"/>
                </div>
            </a>

            <%- del %>
            <%- edit %>
            <div style="text-align: left; width: 100%">
                <a href="http://nopl.ru/id<%= rows[i]['id_user'] %>"><%= rows[i]['name'] + ' ' + rows[i]['surname'] %></a>
                <%= date_time.getDate()+' '+ month+' '+ date_time.getFullYear() %>
            </div>
            <div class="media-body">
                <%- text %>
            </div>
            <!--<div class=" clear" style="text-align: left">-->
            <!--<br />-->
            <!--<a href="javaScript:void(0)" onclick="objRev.SetRev('to');">Ответить</a>-->
            <!--</div>-->
        </div>
        <% } else { %>
        <div class="col-xs-10 col-sm-10 col-md-11 col-lg-11">
            <div style="text-align: left; width: 100%">
                <a href="http://nopl.ru/id<%= rows[i]['id_user'] %>"><%= rows[i]['name'] + ' ' + rows[i]['surname'] %></a>
                <%= date_time.getDate()+' '+ month+' '+ date_time.getFullYear() %>
            </div>
            <div class="media-body">
                <%- text %>
            </div>
            <!--<div class=" clear" style="text-align: left">-->
            <!--<br />-->
            <!--<a href="javaScript:void(0)" onclick="objRev.SetRev('to');">Ответить</a>-->
            <!--</div>-->
        </div>
        <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1 row">
            <a class="media-left" href="http://nopl.ru/id<%= rows[i]['id_user'] %>">
                <div style="width: 64px; height: 64px; background: #c5c5c6;">
                    <img src="http://nopl.ru/images/profile/id<%= rows[i]['id_user'] %>/crop/<%= rows[i]['img'] %>"
                         style="width: 64px;height: 64px;"/>
                </div>
            </a>
        </div>
        <% } %>
        <div class="clear"></div>
    </div>
</li>

<% if (rows.length - 1 >= i) { %>
<!--<br />-->
<% }
} %>

<!--<div><%- res %></div>-->
