<%
var res = '';
for (var i = 0; i < rows.length; ++i) {
//sys.puts("Result: "+sys.inspect(result.toHash(result.records[i])));


var month = [" ", "Января" ,"Февраля" ,"Марта" ,"Апреля" ,"Мая" ,"Июня" ,"Июля" ,"Августа" ,"Сентября" ,"Октября" ,"Ноября" ,"Декабря"];

var date_time = new Date(rows[i]['date_time']);
month = month[date_time.getMonth()];


//Текущая дата
var todayDate = new Date();
//Разница во времени
var dateDifference = date_time.getTime() - todayDate.getTime();

//Дата, созданная из остатка времени
var remainsDate = new Date(dateDifference);
var remainsSec = (parseInt(remainsDate / 1000));



%>
<div class="panel panel-default"  style="background: #efefef"><i class="glyphicon glyphicon-remove deil_wall" style="position: inherit; padding: 2px" onclick="objRev.InitRevTex(0, false)"> </i>
    <div class="panel-body">
        <div>
            Дата создания: <%=date_time.getDate()+' '+ month+' '+ date_time.getFullYear() %>
        </div>
        <div class="">
            <textarea  onkeydown="if(event.keyCode==13){objRev.SetRev(); return false;}" class="revTextarea panel-textarea MBottom10" placeholder="Оставить рецензию"  name="text" id="text"><%=rows[i]['text'] %></textarea>
            </div>

        <div class="">
            <div class="tests_select_border_all">
                <input type="hidden" id="revIdUser" value="<%=rows[i]['id_user'] %>" name="id_user"/>
                <input type="hidden" id="revIdObject" value="<%=rows[i]['id_object'] %>" name="id_object"/>
                </div>
            </div>
        <div class="clear"></div>
        <button type="submit" id="submitRev" onclick="objRev.EditRev('set', '<%=rows[i]['id']%>')" class="btn btn-primary" style="padding: 10px; float: right">Отправить</button>
       </div>
    </div>

<% } %>